<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <title>Time Switch</title>
</head>
<body id="app">
    <div class="container text-center" style="width: 100%">
        <div class="col-12">
            <div class="row bg-primary"><h1>Time Switch<span class="float-end clickable" @click="stopTimer()">□</span></h1></div>
        </div>
        <div id="contentArea">
            <div class="col-12">
                <row v-for="item in itemList" :class="{row:true,focusedItem:timer.timerTarget == item.itemId}" :style="{'cursor': 'pointer', 'background-color': item.bgColor}">
                    <div class="col-10">
                        <span class="fs-2"><input class="makeInputLookLikeText" v-model="item.itemName"> | </span><span class="fs-2" @click="changeTimerTarget(item.itemId)"> {{convertToDisplayTime(item.totalSecond)}}</span>
                    </div>
                    <div class="col-2">
                        <input v-bind:id="'color'+item.itemId" type="color" v-model="item.bgColor">
                        <span class="fs-2" @click="editTime(item.itemId)" data-bs-toggle="modal" data-bs-target="#modal">✎</span>
                        <span class="fs-2" @click="removeItem(item.itemId)">🗙</span>
                    </div>
                </row>
                <div class="row bg-secondary clickable" @click="newItem()">
                    <span class="fs-2">New An Item ... </span>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Edit Time</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <span><input id="timeHour" class="makeInputLookLikeText"  style="max-width: 20%;" type="number" value="00"></span>
                     : <span><input id="timeMinute" class="makeInputLookLikeText"  style="max-width: 20%;" type="number" value="00"></span>
                     : <span><input id="timeSecond" class="makeInputLookLikeText"  style="max-width: 20%;" type="number" value="00"></span>
                 </div>
            </div>
            <div class="modal-footer">
            <button type="button" id="closeModalButton" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="updateTime()">Save changes</button>
            </div>
        </div>
        </div>
    </div>
    <script src="lib/hackerTimer.min.js"></script>
    <script src="lib/vue.global.js"></script>
    <script src="lib/bootstrap.bundle.min.js"></script>
    <script src="src/index.js"></script>
</body>
</html>